 progress {
    width: 40%;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  progress::-webkit-progress-value {
    background-color: #4caf50; /* Groen voor gezonde waardes */
    border-radius: 5px;
  }

  body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
  #stats { margin-top: 20px; }
  button { margin: 10px; padding: 10px 20px; font-size: 16px; }
  #pop { margin-top: 20px; }
  img { width: 300px; height: 300px; }
  #text { font-size: 24px; color: red; }